[submodule "thirdparty/Smart-Hierarchy"]
	path = thirdparty/Smart-Hierarchy
	url = https://github.com/neon-age/Smart-Hierarchy
[submodule "modules/unity-bug-tracing"]
	path = modules/unity-bug-tracing
	url = https://github.com/needle-tools/unity-bug-tracing
