[submodule "thirdparty/Smart-Hierarchy"]
	path = thirdparty/Smart-Hierarchy
	url = https://github.com/neon-age/Smart-Hierarchy
[submodule "projects/unity-open-project-1"]
	path = projects/unity-open-project-1
	url = https://github.com/UnityTechnologies/open-project-1.git
[submodule "projects/BoatAttack"]
	path = projects/BoatAttack
	url = https://github.com/Unity-Technologies/BoatAttack
[submodule "projects/EntityComponentSystemSamples"]
	path = projects/EntityComponentSystemSamples
	url = https://github.com/Unity-Technologies/EntityComponentSystemSamples


[submodule "modules/unity-bug-tracing"]
	path = modules/unity-bug-tracing
	url = https://github.com/needle-tools/unity-bug-tracing
